* {
  margin: 20px;
}
h3 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.upper {
  color: rgba(217, 48, 18, 0.896);
}
.navbar {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
}
nav > ul li {
  list-style: none;
}
li > a {
  text-decoration: none;
  color: grey;
}
.active {
  color: tomato;
}
.hero {
  background-image: url("Images/Group\ 13\ \(1\)\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.overlay h1 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.overlay p {
  font-size: 20px;
}
.search-bar {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  backdrop-filter: blur(1.2px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.search-bar select,
input {
  border-radius: 5px;
  width: 100%;
}
.primary-btn {
  padding: 15px 30px;
  background-color: tomato;
  color: white;
  border-color: aliceblue;
  border-radius: 10px;
}
.popular-tour {
  display: flex;
  align-items: center;
}
.content h1 {
  font-size: 40px;
}
.content p,
ul {
  font-size: 20px;
}
.destination {
  padding-top: 20px;
  justify-content: center;
}
.des-desription {
  text-align: center;
}
.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.row {
  display: flex;
  justify-content: center;
  gap: 10px;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.row-1 img {
  width: calc(50% - 10px); /* 3 images in the first row */
}
.row-2 img {
  width: calc(50% - 10px); /* 2 images in the second row */
}
.row-3 img {
  width: calc(33.33% - 10px); /* 3 images in the third row */
}
.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.box-1,
.box-2,
.box-3 {
  box-shadow: white 0px 0px 05px 05px;
  gap: 10px;
}
.box-1 {
  background-color: antiquewhite;
}
.box-2 {
  background-color: darkgrey;
}
.box-3 {
  background-color: antiquewhite;
}
.choose-description {
  text-align: center;
  padding-top: 10px;
}

@media screen and (max-width: 576px) {
  * {
    margin: 0px;
  }
  .navbar,
  nav ul,
  .hero {
    flex-direction: column;
    align-items: center;
  }
  .popular-tour {
    flex-direction: column;
    row-gap: 10px;
  }
}
